*~
.hydra
*pyc
datasets
results
outputs/*
/MUJOCO_LOG.TXT
wandb
experiments/
experiments_saved/
clip/
gpt/
bert/
logs/

*.mp4
libero.egg-info/
.vscode/
.vs/

__pycache__/
experiments_bert/
experiments_clip/
libero/lifelong/openai/clip-vit-base-patch32/
